:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* базові скидання */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background: #e2e8f0; /* фон на всю сторінку */
}

/* root розтягується на весь екран */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* modal-root не додає відступів */
#modal-root {
  margin: 0;
  padding: 0;
}
